*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}
ul 
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 45px;

}
ul li 
{
    position: relative;
    list-style: none;
}
ul li a 
{
    position: relative;
    font-size: 5em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before
{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    border-right: 5px double var(--clr);
}
ul li a:hover::before
{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
.HomeButton {
	box-shadow: 0px 4px 10px 1px #3dc21b;
	background-color:#44c767;
	border-radius:25px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#dddada;
    font-family: 'Caveat', cursive;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 6px #2f6627;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}
.HomeButton:hover {
	background-color:#5cbf2a;
}
.HomeButton:active {
	position:relative;
	top:1px;
}